{% macro generate_auth_form(type="login", form="") %}
	{% if type=="login" %}
		<form action="{{ url_for('auth_bp.login') }}" method="POST">		
	{% else %}
		<form action="{{ url_for('auth_bp.sign_up') }}" method="POST">
	{% endif %}

			{{ form.login(class="input-form") }}
			{{ form.password(class="input-form") }}
			{% if type == "register" %}
				{{ form.repeat_password(class="input-form") }}
			{% endif %}
			{{ form.submit(class="login-button") }}


			{{ form.csrf_token }}
	</form>
{% endmacro %}


{% macro generate_link(type="login")%}
	<small class="form-text text-muted ">
	{% if type=="login" %}
		Ще не маєте свого аккаунта? 
		<a href="{{ url_for('auth_bp.sign_up') }}">Зареєструватися</a>		
	{% else %}
		Вже маєте свій аккаунт? 
		<a href="{{ url_for('auth_bp.login') }}">Увійти</a>		
	{% endif %}
	</small>
{% endmacro %}